body {
    background-color : #121B29;
    width: 100%;
    margin: auto;
    color: white;
    font-family: 'roboto';
}

header {
    background-color: #EEEBFF;
    color: #121B29;
    padding: -20px;
}

header .logo-nird {
    height: 60px;
    margin-right: 15px;
}

header nav {
    display: flex;
    align-items: center;
    /* justify-content: space-between */
}

header nav ul {
    display: flex;
    gap: 50px;
    align-items: center;
    list-style-type: none;
}

header nav ul li a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: inherit; 
}


/* FIN HEADER -----------------------------------------------------------------------------------------------------------------------------------------------*/

.pc {
    display: block;
    margin: auto;
}
