body {
    background-color : #121B29;
    width: 100%;
    margin: auto;
    color: white;
}

header {
    background-color: #EEEBFF;
    color: #121B29;
    padding: -20px;
}

header .logo-nird {
    height: 60px;
    margin-right: 15px;
}

header nav {
    display: flex;
    align-items: center;
    /* justify-content: space-between */
}

header nav ul {
    display: flex;
    gap: 20px;
    align-items: center;
    list-style-type: none;
}